div.section.resources-and-faqs.accordion-container {
  padding-bottom: 46px;

}

.accordion-container .accordion-wrapper {
  background: #fff;
}

.accordion-container .accordion-wrapper .accordion-item {
  width: 77%;
  margin: 0 auto;
}

.accordion-container .accordion-wrapper .accordion-item:last-child {
  margin-bottom: 1px;
}

.accordion-container .accordion-item .accordion-question {
  color: var(--color-primary);
  font-size: var(--body-font-size-xs);
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 80px;
  padding: 10px 40px 10px 70px;
  cursor: pointer;
  border: solid 10px #fff;
  box-shadow: 10px;
  box-shadow: 0 0 10px #d3d2d2;
  background-color: #f3f1ed;

}

.accordion-container .accordion-item .accordion-question::after {
  position: absolute;
  top: 30%;
  right: 1px;
  width: 24px;
  height: 25px;
  content: '';
  background: url('../../images/icons/accordion-open-icon.png') no-repeat;
  padding: 10px 5px 10px 30px;
}

.accordion-container .accordion-item .accordion-question::before {
  position: absolute;
  background-color: #fff;
  width: 60px;
  height: 70px;
  left: 0.1px;
  padding-top: 8px;
}

.accordion-container .accordion-item.active {
  border-bottom-left-radius: 28px !important;
  /* overriding the inline style */
  border-bottom-right-radius: 28px !important;
  /* overriding the inline style */
}


.accordion-container .accordion-item.active .accordion-question {
  background: #783384;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.accordion-container .accordion-item.active .accordion-question::after {
  position: absolute;
  top: 30%;
  width: 10px;
  height: 10px;
  content: '';
  background: url('../../images/icons/close-accordion.png');
}

.accordion-container .accordion-item.active .accordion-question::before {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
}


.accordion-container .accordion-item:nth-child(1) .accordion-question::before {
  content: url('../../images/icons/asthma-inhaler-icon.png');
}

.accordion-container .accordion-item:nth-child(2) .accordion-question::before {
  content: url('../../images/icons/lungs-icon.png');
}

.accordion-container .accordion-item:nth-child(3) .accordion-question::before {
  content: url('../../images/icons/heart-rate-icon.png');
}

.accordion-container .accordion-item:nth-child(4) .accordion-question::before {
  content: url('../../images/icons/blood-drops-icon.png');
}

.accordion-container .accordion-item:nth-child(5) .accordion-question::before {
  content: url('../../images/icons/prescription-bottle-icon.png');
}

.accordion-container .accordion-item:nth-child(6) .accordion-question::before {
  content: url('../../images/icons/cancer-awareness-ribbon-icon.png');
}

.accordion-container .accordion-item:nth-child(7) .accordion-question::before {
  content: url('../../images/icons/kidneys-icon.png');
}

.accordion-container .accordion-item:nth-child(8) .accordion-question::before {
  content: url('../../images/icons/spleen-icon.png');
}

.accordion-container .accordion-item:nth-child(9) .accordion-question::before {
  content: url('../../images/icons/HIV-virus-icon.png');
}

.accordion-container .accordion-item:nth-child(1).active .accordion-question::before {
  content: url('../../images/icons/asthma-inhaler-icon.png');
}

.accordion-container .accordion-item:nth-child(2).active .accordion-question::before {
  content: url('../../images/icons/lungs-icon.png');
}

.accordion-container .accordion-item:nth-child(3).active .accordion-question::before {
  content: url('../../images/icons/heart-rate-icon.png');
}

.accordion-container .accordion-item:nth-child(4).active .accordion-question::before {
  content: url('../../images/icons/blood-drops-icon.png');
}

.accordion-container .accordion-item:nth-child(5).active .accordion-question::before {
  content: url('../../images/icons/prescription-bottle-icon.png');
}

.accordion-container .accordion-item:nth-child(6).active .accordion-question::before {
  content: url('../../images/icons/cancer-awareness-ribbon-icon.png');
}

.accordion-container .accordion-item:nth-child(7).active .accordion-question::before {
  content: url('../../images/icons/kidneys-icon.png');
}

.accordion-container .accordion-item:nth-child(8).active .accordion-question::before {
  content: url('../../images/icons/spleen-icon.png');
}

.accordion-container .accordion-item:nth-child(9).active .accordion-question::before {
  content: url('../../images/icons/HIV-virus-icon.png');
}

.accordion-container .accordion-wrapper .accordion-answer {
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s ease-in-out;
}

.accordion-container .accordion-wrapper .accordion-content {
  font-size: var(--body-font-size-xs);
  line-height: 20px;
  text-align: center;
}

.accordion-container .accordion-wrapper .accordion-content ul,
.accordion-container .accordion-wrapper .accordion-content ol {
  padding-left: 20px;
}

.accordion-container .accordion-wrapper .accordion-content strong {
  font-size: var(--body-font-size-xs);
  text-align: left;
}

.accordion-container .accordion-wrapper .accordion-content p {
  margin: 0 0 16px;
}

.accordion-container .accordion-wrapper .accordion-content a {
  text-decoration: none;
  padding: 10px;
}

.accordion-container .accordion-wrapper .accordion-content>*:last-child {
  margin: 0;
}

@media screen and (min-width: 600px) {
  .accordion-wrapper .accordion.two-columns {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .accordion-wrapper .accordion.two-columns .accordion-item {
    width: calc(50% - 30px);
    margin-bottom: 25px;
  }

  div.section.resources-and-faqs.accordion-container {
    padding-bottom: 68px;
  }

  .accordion-container .accordion-wrapper .accordion-item {
    margin-bottom: 20px;
    background: #fff;
  }

  .accordion-container .accordion-wrapper .accordion-question {
    font-size: var(--body-font-size-l);
    line-height: 24px;
    min-height: 70px;
    padding: 10px 8px 10px 120px;
    background: #f3f1ed;
  }

  .accordion-container .accordion-wrapper .accordion-question::after {
    right: 30px;
    padding: 10px;
  }

  .accordion-container .accordion-wrapper .accordion-question::before {
    left: 0.1px;
  }

}