header nav{
  --nav-height: auto
}

header .navbar-nav .dropdown-menu {
  width: 100%;
  text-align: center;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  margin-top: -5px;
}

header button::after{
  content: none !important;
}

header .bottom-navbar.navbar-nav .nav-link.show{
  background: var(--color-primary) !important;
  color: white !important;
}

header .bottom-navbar.navbar-nav .dropdown-menu .dropdown-item{
  background-image: linear-gradient(to top, #f1efeb, #d6d2ca);
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0;
  color: var(--color-primary);
  letter-spacing: -.09px;
}

header ul.language-dropdown li.nav-item a.nav-link{
  font-weight: 600;
  color: var(--color-primary);
  text-align: left;
  min-width: 0;
  font-size: 18px;
}

header .nav-link{
  color: var(--color-primary) !important;
}

header ul.language-dropdown li.nav-item ul.dropdown-menu {
  min-width: 0;
}

header ul.language-dropdown li.nav-item ul.dropdown-menu a.dropdown-item {
  font-weight: 600;
  color: var(--color-primary);
  text-align: left;
}

header .bottom-navbar.navbar-nav .nav-item a.nav-link {
  background-image: linear-gradient(to top, #f1efeb, #d6d2ca);
  font-size: 20px;
  font-weight: 700;
  color: var(--color-primary);
}

header ul.language-dropdown li.nav-item a.nav-link:hover{
  color: var(--color-primary);
}



header .border-primary {
  border-color: var(--color-primary) !important;
}

header .border-info {
  border-color: var(--color-info) !important;
}

header .border-warning {
  border-color: var(--color-warning) !important;
}

header .border-success {
  border-color: var(--color-success) !important;
}

header .w-35 {
  width: 35% !important;
}

header .navbar-toggler{
  background: var(--color-primary);
  z-index: 100  ;
  transition: 0.2s ease-in-out;
  margin: inherit;
}

header .navbar-toggler[aria-expanded="true"]{
  background: var(--color-dark);
  
}

header .navbar-toggler .navbar-icon{
  background: transparent;
  height: 0.3rem;
  width: 30px;
  position: relative;
  transition: all .3s ease-in-out;
  border-radius: 0.6rem;
}

header .navbar-toggler[aria-expanded="false"] .navbar-icon{
  background: white;
}

header .navbar-toggler .navbar-icon::before{
  content: '';
  top: 0  ;
  height: 0.3rem;
  background: white;
  width: 30px;
  left: 0 ;
  position: absolute; 
  border-radius: 0.6rem;
  transition: all .3s ease-in-out;
  transform: translateY(0) rotate(45deg);
}

header .navbar-toggler[aria-expanded="false"] .navbar-icon::before{
  content: '';
  background: white;
  height: 0.3rem;
  width: 30px;
  position: absolute;
  top: 0  ;
  left: 0;
  border-radius: 0.6rem;
  transition: all .3s ease-in-out;
  transform: translateY(-10px) rotate(0deg);
}

header .navbar-toggler .navbar-icon::after{
  content: '';
  background: white;
  height: 0.3rem;
  width: 30px;
  position: absolute;
  top: 0  ;
  left: 0;
  border-radius: 0.6rem;
  transition: .3s ease-in-out;
  transform: translateY(0) rotate(-45deg);
}

header .navbar-toggler[aria-expanded="false"] .navbar-icon::after{
  content: '';
  background: white;
  height: 0.3rem;
  width: 30px;
  position: absolute;
  top: 10px  ;
  left: 0;
  border-radius: 0.6rem;
  transition: all .3s ease-in-out;
  transform: translateY(0) rotate(0deg);
}

header .mobile-view.navbar-collapse.show{
  transition: 0.3s ease-in-out;
  left: 0;
  top: 0;
  display: block !important;
  opacity: 1;
  position: absolute;
  background: var(--color-dark);
}

header .bottom-navbar.navbar-nav .nav-item  a.nav-link:hover
{
  background: var(--color-primary);
  color: white !important;
  text-decoration: none;
}

header .mobile-view.navbar-collapse.show .nav-item .nav-link{
  color: white  !important;
}

header .mobile-view.navbar-collapse.show .nav-item a.nav-link:hover
{
  background: var(--color-primary);
  color: white !important;
  text-decoration: none;
}



header .bottom-navbar.navbar-nav .dropdown-item:hover
{
  background: var(--color-primary);
  color: white !important;
  text-decoration: none;
}

header .mobile-view.navbar-collapse.show .nav-item.active{
  background: var(--color-primary);
}

header .mobile-view.navbar-collapse.collapse.show{
  width: 100%;
  z-index: 90;
}

header .mobile-view.navbar-collapse{
  display: none !important;
  opacity: 0;;
}

header .mobile-view .dropdown-menu{
  background: var(--color-dark);
}

header .mobile-view .nav-bottom{
  background: var(--color-gray);
}

@media (width <= 1200px) {
  header .bottom-navbar.navbar-nav .nav-item a.nav-link, header .bottom-navbar.navbar-nav .dropdown-menu .dropdown-item{
    font-size: 15px;
  }
}