.section.banner-container {
    background-color: black;
    color: white;
    padding: 0;
  }

  .section.banner-container.section .banner img {
    width: 100%;
  }

  .section .banner h1 {
    font-size: 28px;
    text-align: center;
    margin-top: 0;
  }

  @media screen and (width >= 991px) {
    .section .banner h1 {
      font-size: var(--heading-font-size-xl);
      line-height: var(--heading-font-size-xl);
      text-align: left;
    }

    .section .banner img {
      width: initial;
    }
  }

  @media screen and (width <= 768px) {
    .section .banner h1 {
      margin-top: 1em;
    }

    .hide-mobile {
      background: none !important;
    }
    
    .hide-mobile .bck-img {
      display: none;
    }
  }