.mediatext h2 {
    font-size: 34px;
    font-family: var(--body-font-family);
    font-weight: bold;
}

.mediatext p {
    font-size: 20px;
    font-family: var(--body-font-family);
}

@media screen and (width <= 768px) {
    .mediatext iframe {
        width: 100%;
        height: auto;
    }

    .mediatext h2 {
        font-size: 18.5px;
        margin: 0;
        line-height: 1.5;
    }

    .mediatext p {
        font-size: 16px;
    }

    .image-small-left .mediatext img {
        width: 160px;
        margin: 0 auto 1rem;
        display: block;
    }
}
